brotli==1.0.9
ConfigParser==5.2.0
cryptography==37.0.4
Cython==0.29.32
dash==2.6.0
dash_bootstrap_components==1.2.1
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==4.12.0
jnius==1.1.0
keyring==23.7.0
lockfile==0.12.2
lxml==4.9.1
numpy==1.23.1
ordereddict==1.1
pandas==1.4.3
plotly==5.9.0
protobuf==4.21.4
pyOpenSSL==22.0.0
scikit_learn==1.1.1
toml==0.10.2
tornado==6.2
typing_extensions==4.3.0
zipp==3.8.1
